.pagina-sobre-mim {
  color: green;
}

.title-about-me {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  flex-direction: column;
  align-items: right;
  animation: slideIn 2s forwards;
  padding-left: 2rem;
}

.title-about-me h1 {
  height: 6rem;
  font-size: 5rem;
  font-weight: normal;
  @media (max-width: 768px) {
    font-size: 2rem;
    height: 2.2rem;
    padding-left: 0.5rem;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0);
  }
}

.SM-bg {
  margin-top: 5%;
  background-image: url("../../public/assets/images/cel.png");
  background-size: 90vw 175vw;
  background-position: center;
  background-repeat: no-repeat;
  height: 175vw;
  display: flex;
  justify-content: center;
  @media (min-width: 768px) {
    background-image: none;
    height: auto;
  }
}

.SM-bg p {
  padding: 4rem 2rem 0rem 2rem;
  color: rgb(217, 217, 217);
  text-align: justify;
  hyphens: auto;
  @media (min-width: 768px) {
    color: rgb(222, 222, 222);
    color: #484848;
    padding-top: 0rem;
    font-size: 1.5rem;
  }
}

.SM-text-field {
  margin-top: 18%;
  margin-top: 18%;
  margin-right: 15%;
  margin-left: 15%;
  font-size: 15px;
  hyphens: auto;
}

.SM-texto {
  color: rgb(200, 200, 200);
  padding: 1%;
  width: 95%;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 10px;
}

.linguagens-texto {
  font-size: 40px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  @media (max-width: 768px) {
    line-height: 2.7rem;
    padding-left: 1rem;
  }
}

.linguagens-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
  }
}

.linguagens-grid > * {
  margin-bottom: -10px; /* Compensa a margem na parte inferior para os elementos filhos */
}

.linguagens-grid div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.linguagens-grid div h2 {
  font-size: 20px;
  margin-top: 10px;
  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.linguagens-grid div img {
  height: 8rem;
  width: auto;
  @media (max-width: 768px) {
    height: 4rem;
    width: auto;
  }
}

.force-down {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 470px;
}
