@keyframes slideIn {
  from {
      transform: translateX(-10%);
  }
  to {
      transform: translateX(0);
  }
}

.projects-presentation{
  display:flex;
  flex-direction: column;
  text-align: justify;
  width: 59.19rem;
  padding-top: 1rem;
  @media (max-width: 768px) {
    width: 19rem;
  }
}

.projects-presentation p{
  font-size: 25px;
  padding-bottom: 1rem;  
  animation: slideIn 2s forwards;
  @media (max-width: 768px) {
    font-size:18px;
  }
}

.pagina-projetos{
  color:green;
}

.separation-line-projects{
  height: 5px;
  width: 80%;
  margin-left: 10%;
  background-color: green;
  @media (max-width: 768px) {
    height: 5px;
    width: 19.52rem;
    margin-left: 0%;
    background-color: green;
  }
}

.project-tab{
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
  place-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
}

.project-description{
  width: 30rem;
  text-align: justify;
  hyphens: auto;
  @media (max-width: 768px) {
    width: 19rem;
  }
}

.project-description h2{
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  @media (max-width: 768px){
    font-size: 2rem;
    height: auto;
    padding-left: .5rem;
    padding-bottom: 1.5rem;
  }
}

.project-description p{
  font-family: Arial, Helvetica, sans-serif;
}

.project-tab img{
  width: 19rem;
  height: auto;
  border-radius: 10%;
  margin-top: 3rem;
}

.language{
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 4rem;
  margin-right: 1.5rem;
  color: green;
}

.language img{
  border: 3px solid rgb(67, 67, 67);
  height: 20px;
  cursor: pointer;
}



.project-title{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 20px;
}