.green {
  color: green;
}

.header-img {
  height: 10rem;
  @media (max-width: 768px) {
    height: 6rem;
  }
}

.header {
  display: flex;
  padding: 2rem 0 2rem 0;
  justify-content: space-around;
  align-items: center;
  width: 59.19rem;

  @media (max-width: 768px) {
    width:100%;
    padding: 1rem 0 0 0;
    gap: 3rem;
    justify-content: center;
  }
}

.header-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  @media (max-width: 768px) {
    width: auto;
    gap: .5rem;
  }
}

.header-options h1 {
  font-size: 2.5rem;
  font-family: "Anton", serif;
  cursor: pointer;
  @media (max-width: 768px) {
    font-size: 1rem;
    width: 3rem;
  }
}

.header div {
  font-family: "Anton", serif;
}

.credits-icons {
  display: flex;
  justify-content: center;
}

.credits img {
  margin: 2%;
  width: 30px;
  height: 30px;
}

.language-button{
  position: fixed;
  z-index: 3;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  
  width: 8.09rem;
  height: 5rem;

  border: none;
  @media (max-width: 768px) {
    width: 4.85rem;
    height: 3rem;
  }
}

.en-button{
  background-image: url('../../public/assets/images/BRA.png');
  background-size: cover;
}

.pt-button{
  background-image: url('../../public/assets/images/EUA.png');
  background-size: cover;
}