
*{
  margin: 0;
  padding: 0;    
  color: #484848;
  font-family: "Enriqueta", serif;     
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  width:59.19rem;
  @media (max-width: 768px){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    width:20.31rem;
  }
}

.use-width{
  width: 100%;
}


body{
  background-image: url('../public/assets/images/background2.png'); /*correto*/
  background-size: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title{
  display: flex;
  width: 100%;
  padding-top: 1rem;
  flex-direction: column;
  align-items: right;
  animation: slideIn 2s forwards;
}

@keyframes slideIn {
  from {
      transform: translateX(-10%);
  }
  to {
      transform: translateX(0);
  }
}

.title h1{
  height: 6rem;
  font-size: 5rem;
  font-weight: normal;
  @media (max-width: 768px){
    font-size: 1.8rem;
    height: 2.2rem;
    padding-left: .5rem;
  }
}

.hover{
  cursor: pointer;
}

.separation-line{
  height: 5px;
  width: 80%;
  margin-left: 10%;
  background-color: green;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.disabled {
  display: none;
}




